<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="index ::header"></head>
<body class="container-fluid">
<nav>Saint John Pet Hospital
    <h4>Where your pet is Family</h4>
</nav>
<main class="row container-fluid connectNavMain">
    <div th:replace="index :: side-nav-bar"></div>
    <div class="col-xs-8 col-sm-8">
        <form class="centerText" method="post">
            <div class="form-group centerText">
                <label th:for="patientName">Patient Name</label>
                <section class="centerText">
                    <input class=" inputLength" type="text" id="patientName" name="patientName" />
                </section>

            </div>
            <div class="form-group whiteSpaceAbove">
                <label th:for="treatment">Treatment</label>
                <section class="centerText">
                    <input class="inputLength" type="text" id="treatment" name="treatment" />
                </section>
            </div>
            <div class="form-group whiteSpaceAbove">
                <label th:for="donation">Donation</label>
                <section class="centerText">
                    <input class="inputLength" type="text" id="donation" name="donation" />
                </section>
            </div>
            <div class="form-group whiteSpaceAbove">
                <select name="doctorName">
                    <option value=""> Pick a Doctor</option>
                    <option th:each="doc : ${doctors}"
                            th:value="${doc.getDoctorName()}"
                            th:text="${doc.getDoctorName()}"/>
                </select>
            </div>
            <section class="centerText whiteSpaceAbove">
                <input class="submitButton" type="submit" value="Check-in Patient" />
            </section>
        </form>
    </div>
</main>
</body>
</html>