<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{styles.css}" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title th:text="${title}"></title>
</head>
<body class="container-fluid">
    <nav>Saint John Pet Hospital
        <h4>Where your pet is Family</h4>
    </nav>
    <main class="row container-fluid connectNavMain">
        <div class="col-xs-4 col-sm-4 navigation-bar">
<!--            <ul th: if="${doctors} and ${doctors.size()}">
                <li><a class="test" href="">Check in a Doctor</a></li>
                <li><a href="">Check in a Patient</a></li>
                <li><a href="">Check out a Patient</a></li>
                <li><a href="">View all Current Patients</a></li>
            </ul>
            <ul th: unless="${doctors} and ${doctors.size()}">
                <li>No doctors available</li>
                <li><a class="test" href="">Check in a Doctor</a></li>
            </ul>-->
            <ul >
                <li>No doctors available</li>
                <li><a class="test" href="">Check in a Doctor</a></li>
            </ul>
        </div>
        <div class="col-xs-8 col-sm-8 checkInDoctorStyle" th:object="${doctor}">
            <h2>Let's check in a Doctor</h2>
            <input type="text" />
            <input type="submit" />

            <ul th:each="doc : ${doctors}">
                <li th:text="${doc.fullName}"></li>
            </ul>
        </div>
    </main>
</body>
</html>