<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="index ::header"></head>
<body class="container-fluid">
<nav>Saint John Pet Hospital
    <h4>Where your pet is Family</h4>
</nav>
<main class="row container-fluid connectNavMain">
    <div th:replace="index :: side-nav-bar"></div>
    <div class="col-xs-8 col-sm-8">
        <form method="post">
            <h2 class="centerText">Check-out a Pet</h2>
            <div class="form-group centerText whiteSpaceAbove">
                <select name="petName">
                    <option value=""> Pick a Pet</option>
                    <option th:each="pet : ${patients}"
                            th:value="${pet.getFullname()}"
                            th:text="${pet.getFullname()}"/>
                </select>
            </div>

            <section class="centerText whiteSpaceAbove">
                <input class="submitButton" type="submit" value="Check-out Patient" />
            </section>
        </form>
    </div>
</main>
</body>
</html>