<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="index ::header"></head>
<body class="container-fluid">
<nav>Saint John Pet Hospital
    <h4>Where your pet is Family</h4>
</nav>
<main class="row container-fluid connectNavMain">
    <div th:replace="index :: side-nav-bar"></div>
    <div class="col-xs-8 col-sm-8" >
        <section class="col-xs-12 col-sm-11 offset-sm-1">
            <h2 >Current Patients</h2>
            <article class="noListStyles" th:if="${patients} and ${patients.size()}" >
                <p th:each="pet : ${patients}" th:text="${pet.getFullname()} + ' is getting treated for ' + ${pet.getTreament()} + ' by Doctor ' + ${pet.getDoctorName()}"></p>
            </article>
        </section>
    </div>
</main>
</body>
</html>